<body>
  <footer class="bg-white text-gray-700 py-10 px-24">
    <div class="container mx-auto flex flex-wrap justify-between items-start">
      <!-- Left section: Logo, Location, and Copyright -->
      <div class="w-full md:w-1/3 mb-6 md:mb-0">
        <div class="flex flex-col items-start">
          <img
            src="https://portal.innobrains.pk/files/system/_file64d57376183f5-site-logo.png"
            alt="Innobrains Logo"
            class="h-12 mb-2"
          />
          <p class="text-sm leading-none">Copyright © 2023. Startup Agency</p>

          <!-- Location below the logo and copyright -->
          <div class="mt-6">
            <h3 class="text-lg font-semibold">Location</h3>
            <p class="mt-2 text-sm leading-relaxed">
              Lorem ipsum dolor sit amet, <br />
              consectetur adipiscing elit. <br />
              Pellentesque fermentum consectetur leo.
            </p>
          </div>
        </div>
      </div>

      <!-- Services section -->
      <div class="w-full md:w-1/4 mb-6 md:mb-0">
        <h3 class="text-lg font-semibold">Our Services</h3>
        <ul class="mt-2 space-y-1">
          <li>WEB Development</li>
          <li>WEB Development</li>
          <li>WEB Development</li>
          <li>WEB Development</li>
        </ul>
      </div>

      <!-- Company section -->
      <div class="w-full md:w-1/4 mb-6 md:mb-0">
        <h3 class="text-lg font-semibold">Company</h3>
        <ul class="mt-2 space-y-1">
          <li>About Us</li>
          <li>Services</li>
          <li>Pages</li>
          <li>Portfolio</li>
          <li>Contact Us</li>
        </ul>
      </div>
    </div>

    <!-- Bottom section: Social Icons and Links -->
    <div class="text-center md:text-left">
      <div class="flex justify-center md:justify-end space-x-4">
        <a href="#"
          ><i class="fab fa-whatsapp text-xl mb-4 text-[#103153]"></i
        ></a>
        <a href="#"
          ><i class="fab fa-facebook text-xl mb-4 text-[#103153]"></i
        ></a>
        <a href="#"
          ><i class="fab fa-instagram text-xl mb-4 text-[#103153]"></i
        ></a>
      </div>
      <hr />
      <div
        class="mt-4 flex justify-center md:justify-end space-x-3 text-gray-600"
      >
        <a href="#" class="text-gray-800">Privacy Policy</a>
        <a href="#" class="text-gray-800">Terms of Service</a>
      </div>
    </div>
  </footer>
</body>
